@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('truetype'),
    url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Light.eot');
    src: url('../fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-Light.woff2') format('woff2'),
    url('../fonts/Manrope-Light.woff') format('woff'),
    url('../fonts/Manrope-Light.ttf') format('truetype'),
    url('../fonts/Manrope-Light.svg#Manrope-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}




* {
    padding: 0;
    margin: 0;
}
header{
position: absolute;width: 100%;
}

.conteiner{
    max-width:1110px; margin: auto
}
.d-flex{
    display: flex; justify-content: space-between; align-items: center
}
header ul li{
    margin: 0 10px;
    font-weight: 500; font-size: 16px; line-height: 150%; color: #FFFFFF;font-family: Roboto}

header ul li a{
    margin: 0 10px;
    font-weight: 500; font-size: 16px; line-height: 150%; color: #FFFFFF;font-family: Roboto}
.h1{
    font-family: 'Gothic A1';font-style: normal;font-weight: 600;font-size: 56px;line-height: 130%;color: #FFFFFF;
}

.order1{
    padding: 20px 48.5px;display: flex;flex-direction: row;justify-content: center;align-items: center;padding: 0px;width: 255px;height: 70px;background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);border-radius: 10px;font-weight: 500;
    font-size: 20px;line-height: 150%;color: #FFFFFF;font-family: Roboto;
}
.order2{
    display: flex;flex-direction: row;justify-content: center;align-items: center;padding: 0px;position: static;width: 255px;height: 70px;left: 0px;top: 230px;background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);border-radius: 10px;font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
   color: #FFFFFF;
}
.order_list{
      font-weight: 300;font-size: 16px;line-height: 150%;color: #000000;opacity: 0.5;width: 100%;border: none;border-bottom: solid 1px black; display: block
}
.order_list_1{
     font-weight: 300;font-size: 16px;line-height: 150%;color: #000000;opacity: 0.5;width: 100%;border: none;border-bottom: solid 1px black;height: 30px;width: 100%; resize: none;display: block
}
.sale_background{
    margin-bottom: 98.34px;display: flex;max-width: 512px;padding-top: 30px;padding-bottom: 34.17px;left: 0px;top: 176px;background: #FFFFFF;opacity: 0.9;border-radius: 20px;margin-top: 30px
}
.box{
    width: 44px;height: 44px;left: 0px;top: 8px;flex: none;order: 0;flex-grow: 0;margin: 0px 28px;
}
.discont{
    font-weight: 500;font-size: 20px;line-height: 150%;color: #000000;font-family: Roboto;
}
.bubbles1{
    margin-bottom: 202px;width: 100%;
}

.h3{
    font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 24px;line-height: 130%;color: #000000;
}
.form_dz#4{
    max-width: 410px;width: 100%
}

.sofa{
    max-width: 615px;display: block;width: 100%
}
.background_1{
    background-size: cover;height: 80vh;padding-top: 170px;
}
header ul{
    display: flex;list-style: none
}
.div_1{
    max-width:1110px; margin: auto
}


/*section about us*/
.about_us{
    display: flex; justify-content: space-between;padding-bottom: 160px;
}

.section_order{
   padding-top: 22px; padding-bottom: 200px
}
strong{
    font-weight: bold;
}
.about_us_bubbles{
    display: block; margin-bottom: 160px;margin-top: 15px;width: 100%;
}
.div_3{
    width: 385px;padding-right: 120px;
}
.h4{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
     color: #000000;
}
.m_w-bathroom{
    max-width: 770px;
}
.bathroom_pic{
        width: 100%;
   }
.about_us_1{
    font-family: 'Roboto';font-style: normal;margin-top: 60px;font-weight: 300;font-size: 20px;line-height: 150%;color: #000000;
}
.about_us_2{
    font-family: 'Roboto';font-style: normal;font-weight: 300;font-size: 20px;line-height: 150%;color: #000000;
}
.m_width385{
width: 385px;
padding-right: 120px}

.m_width392{
    max-width: 392px
}
.p_top29{
    padding-top: 29px
}
.p_top40{
    padding-top: 40px
}
.p_top61{
    padding-top: 40px
}
/*section why_we*/
.why_we{
    background-color: #4C6071;
    background-image: url("../images/why_us_background(Anatolii).svg");
    padding-top: 60px;
    padding-bottom: 60px
}
.why_we .d-flex{
    align-items: stretch;
}
.why_we_pic{
    text-align: center;
    padding-top: 50px;

}
.why_we h4{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    padding-left: 260px;
  }
.why_we article{
    margin-top: 67px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 255px;
    }
.stretch{
    align-items: stretch;
}

.why_we_text_head{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    text-align: left;
    padding-top: 50px;
    padding-left: 30px;
    width: 195px;

}
.why_we_text{
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    width: 195px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
}
div article p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}
/*section question*/
.price{
    background-color: #4C6071;
    background-image: url("../images/why_us_background(Anatolii).svg");
    padding: 60px;

}
.m-widht_price{
    max-width: 1190px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 10px;

}
.m-widht_price2{
    max-width: 1190px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
}
.m-widht_price h4{
    padding: 30px 370px 30px 30px;
    text-decoration: none;
    font-weight: normal;
     }
.m-widht_price2 h4{
    text-decoration: none;
    font-weight: normal;

}
.question{
    background-color: #4C6071;
    max-width: 1128px;
    border-radius: 30px;
    align-items: start;
    margin-top: 20px;
  }
.decor_paint{
    margin: 30px 30px 10px 30px;
    background: #FFFFFF;
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    padding: 20px;
    padding-left: 20px;
    max-width: 408px;
        }
.decor_paint:nth-child(2){
    margin: 0px 30px 10px 30px;
}
.decor_paint:last-of-type{
    margin: 0px 30px 80px 30px;
}
.question_pic{
width: 100%}

.question_pic1{
    max-width: 610px;
    margin:30px 50px 30px 0px;
}

.question_pic1_button{
    justify-content: space-between;
    display:flex;
}
.button_back{
    background: #8F8F8F;
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 116px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
      color: #FFFFFF;
        }
.button_next{
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 116px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
     color: #FFFFFF;
}
.question_label{
    display: flex;justify-content: space-between;align-items: center;
}

/*section portfolio*/
.portfolio{
    margin-top: 182px;
    margin-bottom: 177px;
}
.portfolio_bubbles{
    width: 100%;
}
.portfolio h4{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    padding-bottom: 50px;
    padding-left: 95px;
}
.portfolio .image{
    max-width: 540px;
    padding-bottom: 20px;
}
.portfolio .image_text{
    max-width: 540px;
    padding-bottom: 100px;
}
.portfolio h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    padding-bottom: 10px;
}
.portfolio p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
   }

.portfolio_button{
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 68px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
        }
.button_center{
    justify-content: center;
    align-items: center;
    display: flex;
    }


/*section see more*/
.see_more h4{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    padding-bottom: 50px;
    padding-left: 95px;
}

.see_more a{
    justify-content:center;background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);border-radius: 10px;padding: 20px 45px;font-family: 'Roboto';font-style: normal;font-weight: 300;font-size: 20px;line-height: 150%;color: #FFFFFF;
}
.see_more .button_center{
    padding-bottom: 150px;
}

/*section video*/

.video{
    background-color: #4C6071;
    background-image: url('../images/why_us_background(Anatolii).svg');
    padding-top: 60px;
    padding-bottom: 95px;
}
.video img{
    border-radius: 20px;
    max-width: 255px;
}
.video h1{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 87px;
    padding-left: 260px;
}
.video h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
        color: #FFFFFF;
    max-width: 255px;
    padding-top: 20px;
}
.video p{
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 150%;
color: #FFFFFF;
    max-width: 255px;
    padding-top: 10px;
}
a{text-decoration: none;
}


/*footer*/
footer ul li:first-child{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 50px

}
.footer_contact{
    text-decoration:none;color: white
}
footer ul li{
    font-family: 'Roboto';font-style: normal;font-weight: 300;font-size: 16px;line-height: 150%;color: #FFFFFF;margin-top: 30px
}
.footer_ul-1{
    list-style: none
}
.footer_ul-2{
    list-style: none
}
.footer_icon{
    margin-top: 30px;display: flex;}
.footer_icon_margin{
    margin-left: 22px
}
.footer_ul-2 li:first-child{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 57px;
}
.map{
  width: 540px;
    margin-top: 50px;
    margin-left: 130px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.map_black{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;}

.map_black p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
   text-align: center;
    color: #FFFFFF;
    width: 350px;
    padding: 45px 95px;
    }