@media only screen and (max-width: 320px){

}
@media only screen and (max-width: 360px){
.sale_background{
    margin-bottom: 50px
}
}
@media only screen and (max-width: 375px){

}
@media only screen and (max-width: 414px){

}
@media only screen and (max-width: 428px){

}
@media only screen and (max-width: 768px){
header .d-flex{
    display: block;
    }
    .background_1{
        padding-top: 300px;
    }
    .div_1 h1{
        font-size: 40px;
    }
    .why_we h4{padding-left: 100px}

}
@media only screen and (max-width: 820px){
    .question_pic1_button {display: block;}
    .button_back {
        display: block;text-align: center;padding: 20px;
    }
    .button_next {
        display: block;text-align: center;padding: 20px;
    }
       .question_pic1 {margin: auto}
       .m_w-bathroom{max-width: none}
       .m_w_540{max-width: none}
       .sofa{max-width: none}
}

@media only screen and (max-width: 992px){
header ul{
    display: block;
}
   .why_we .d-flex{
       flex-wrap: wrap;
       justify-content: space-around;
          }
   footer .d-flex{
      flex-wrap: wrap;
   }
   .map{width: 100%;margin-left: 0px}
   .map_black p{width:100%;padding: 30px}

}
@media only screen and (max-width: 1024px){
    .about_us{
        display: block;
     }
    .div_3{
        width: 100%;
    }
    .see_more .d-flex{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .video .d-flex{
        flex-wrap: wrap;
        justify-content: space-around;

}
    .section_order .d-flex{
        display: block;
        }
    .section_order .m_width392{
        max-width: none;
    }
    .order2{width: 100%}
.portfolio .d-flex{
    display: block;
        }
   .m-widht_price h4{
       width: 100%;
   }
    .price .d-flex{
        display: block;
    }
    .portfolio .image{
        width: 100%;
    }
    .portfolio .image_text{
        width: 100%}
  .button_center a{
      width: 100%;text-align: center;
  }
  .order1{width: 100%}
    .sale_background {max-width: none}
    .price form{padding-top: 1px}
    .owl-nav{display: none}

}

